.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.page{
  width: 100vw;
  max-height: 100vh;
  display: flex;
}

.nav{
  padding:1vh;
  width: 2vw;
  height: 98vh;
  background-color: #282c34;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  color:white;
}

.sidebar{
  width: 18vw;
  border-right: green solid 1px;
}

.profile{
  display: flex;
  padding-left:2vw;
  padding-right: 2vw;
  margin-top: 2vw;
  font-size: 1.1vw;
}

.user-details{
  display:flex;
  flex-flow: column;
}
.email{
  font-size: 1vw;
  color: #282c34;
}
.user-avtar{
  width: 3vw;
  height: 3vw;
  margin-right: 1vw;
  border:green solid 1px;
  border-radius: 30px;
}

.category{
  display: flex;
  flex-wrap:wrap;
  background-color:#F0F0F0;
  padding:1vw 1vw 0 1vw;
  margin-top: 3vw;
}

.pills{
  display: flex;
  height: fit-content;
  flex-flow: row;
  margin-left: 1vw;
  margin-bottom: 1vw;

}

.main-bar{
  padding: 2vw;
}

.controls{
  display: flex;
  align-items: center;
}

.search-bar{
  background-color: #F0F0F0;
  border: none;
  border-radius: 25px;
  padding: 1vw;
  width: 50vw;
  font-size: 1.2vw;
}

.button{
  height: fit-content;
  padding: 0.6vw;
  border: none;
  outline: none;
  border-radius: 6px;
  margin-left: 2vw;
}

.date{
  background-color: #F0F0F0;
  border: none;
  padding: 1vw;
  font-size: 1vw;
  margin-left: 2vw;
  border-radius: 6px;
}

.taskview{
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  width: 70vw;
  height: 78vh;
  padding: 2vw;
  justify-content: space-between;
}

.taskbar{
  width: 22vw;
  border-radius: 6px;
  background-color: #F0F0F0;
  height: fit-content;
  padding-bottom: 1vw;
}

.taskheading{
  width: 100%;
  text-align: center;
  color: black;
  padding-top: .5vw;
  padding-bottom: .5vw;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;

}

.tasks{
  padding:.7vw;
  max-height: 73vh;
  overflow-y: auto;
}

.task{
  background-color: white;
  padding: 1vw;
  border-radius: 4px;
  margin-bottom: 1vw;
}

.heading{
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

.tag{
  width: fit-content;
  margin: 0;
}

.task-name{
  font-size: 1.2vw;
}

.title{
  margin-top: 1vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-date{
  font-size: small;
  color: gray;
}

.description{
  color: gray;
}


.sub-task{
  padding: .6vw;
  border: none;
  border-top: 1px solid #e8e8e8;
}

.category-name, .category-count{
  padding-left:.8vw;
  padding-right:.8vw;
  padding-top:.5vw;
  padding-bottom:.5vw;
  border-radius: 4px;
  font-size: .8vw;
}

.tag >.category-name{
  padding: 0.2vw;
}

.task-controls{
  margin-top: 1vw;
  padding: 1.5vw;
  padding-left: 3vw;
  border-bottom: 2px solid #e8e8e8;
  width: 75vw;
}

.view-title{
  margin-left: 1vw;
  font-size: 1.5vw;
}

.task-form{
  padding:4vw;
  display: flex;
  flex-flow: column;
  width: 30%;
}

.task-control{
  display: flex;
  flex-flow: column;
  margin-bottom: 1vw;
}

.form-label{
  color: gray;
  margin-bottom: .6vw;
}
.text{
  background-color: #F0F0F0;
  border: none;
  font-size: 1vw;
  padding:.6vw;
  border-radius: 5px;
}

.subcontrol{
  display: flex;
}

.subcontrol > button{
  background-color: white;
  border: 1px solid gray;
  border-radius: 4px;
}

.task-control > .date{
  font-size: 1vw;
  padding: 0.5vw;
  margin-left: 0;
}

.task-button >.button{
  margin-top:3vw;
  margin-right: 3vw;
  margin-left: 0;
  
}
.blue{
  background-color: blue;
  color:white;
}

.green{
  background-color: green;
  color:white;
}

.purple{
  background-color: purple;
  color:white;
}

.orange{
  background-color: orange;
  color:white;
}

.blue-border{
  border: blue solid 1px;
  border-radius: 4px;
}

.green-border{
  border: green solid 1px;
  border-radius: 4px;
}

.orange-border{
  border: orange solid 1px;
  border-radius: 4px;
}


.purple-border{
  border: purple solid 1px;
  border-radius: 4px;
}

.white{
  background-color: white;
  color: black;
}

.form{
  display: flex;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
